<div class="container">
  @if (success()) {
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Book updated successfully!
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  }

  @if (errorBook()) {
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    Book ID not found!
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  }

  <h2>Edit Book</h2>

  @if (isLoading()) {
  <div class="alert alert-info">
    Loading book data...
  </div>
  } @else if (book()) {
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label class="col-md-4">Title</label>
          <input type="text" class="form-control" formControlName="title" />
        </div>
        @if (form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)) {
        <div class="alert alert-danger">
          @if (form.controls['title'].errors?.['required']) {
          <div>Book Title is required.</div>
          }
        </div>
        }

        <div class="form-group">
          <label class="col-md-4">Price</label>
          <input type="text" class="form-control" formControlName="price" />
        </div>
        @if (form.controls['price'].invalid && (form.controls['price'].dirty || form.controls['price'].touched)) {
        <div class="alert alert-danger">
          @if (form.controls['price'].errors?.['required']) {
          <div>Book Price is required.</div>
          }
        </div>
        }

        <div class="form-group">
          <label class="col-md-4">Author</label>
          <input type="text" class="form-control" formControlName="author" />
        </div>
        @if (form.controls['author'].invalid && (form.controls['author'].dirty || form.controls['author'].touched)) {
        <div class="alert alert-danger">
          @if (form.controls['author'].errors?.['required']) {
          <div>Book Author is required.</div>
          }
        </div>
        }

        <div class="form-group">
          <button [disabled]="form.invalid" class="btn btn-primary btn-edit-book">
            Update Book
          </button>
        </div>
      </form>
    </div>
  </div>
  }