<div class="container">
    <h2>List Books</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th>ID</th>
              <th>Book Title</th>
              <th>Book Price</th>
              <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
              <td>{{ book.id }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.price }}</td>
              <td>
                 <a [routerLink]="['/book/edit', book.id]" class="btn btn-primary">Edit</a>
                 <a [routerLink]="['/']" (click)="deleteBook(book.id)" class="btn btn-danger">Delete</a>
              </td>
            </tr>
        </tbody>
    </table>
</div>
